


<button id="subButton">
  Show Code
</button>



<div id="showCodeMirror" hidden>
hi

  <textarea id="myTextarea">
  </textarea>
</div>

<script>
$("#subButton").click(function(){
    $("#showCodeMirror").toggle(0);
});
</script>
