
<h1>Welcome to your account {{localStorage.currentUser}}</h1>

<p style="text-align=center;">
  Here you can edit your details, submit and evaluate your code.
  <br>
  <i>Happy Coding!</i>
</p>

{{code-editor callMirror}}

{{outlet}}
