
<h1>Welcome to your account {{localStorage.currentUser}}</h1>

<p style="text-align=center;">
  Here you can edit your details, submit and evaluate your code.
  <br>
  <i>Happy Coding!</i>
</p>




<button id="subButton" class="displays-text-editor">
  Review Code
</button>



<div id="showCodeMirror" hidden class="hidden-code-editor">
  {{code-editor}}

  <button id="submit-button" {{action 'addCode'}}>Submit</button>

</div>

<script>
  $("#subButton").click(function(){
      $("#showCodeMirror").show(500);
      $("#subButton").hide(800);
  });
</script>

{{outlet}}
