
<h1>Welcome to your account {{localStorage.currentUser}}</h1>

<p style="text-align=center;">
  Here you can edit your details, submit and evaluate your code.
  <br>
  <i>Happy Coding!</i>
</p>



<button id="subButton" class="btn displays-text-editor">
  Edit Code
</button>


<div id="showCodeMirror" hidden class="hidden-code-editor">
  <h2>Submission in-progress</h2>

  {{code-editor}}

  <button id="submit-button" >{{#link-to 'submission'}}Submit{{/link-to}}</button>
</div>

<script>
  $("#subButton").click(function(){
      $("#showCodeMirror").show(500);
      $("#subButton").hide(800);
  });
</script>

{{outlet}}
