
<h1 class="cover-heading">Contact Us</h1>

<div id="contacts">

<section id="contacts-person">

  <h3>Lorem ipsum</h3>

  <img src="images/prof.png">

  <p>Lorem ipsum dolor sit amet</p>

  <ul id="contacts-person-details">


      <li><img src="images/fb.png">

      <img src="images/li.png"></li>

      <li><a href="#">+353 85 855 8555</a></li>

      <li><a href="#">Skype:</a> loremIpsum</li>

  </ul>

</section>

<section id="contacts-person">

  <h3>Lorem ipsum</h3>

  <img src="images/prof.png">

  <p>Lorem ipsum dolor sit amet</p>

  <ul id="contacts-person-details">

      <li><img src="images/fb.png"> <img src="images/li.png"></li>

      <li><a href="#">+353 85 855 8555</a></li>


      <li><a href="#">Skype:</a> loremIpsum</li>

  </ul>

</section>

<section id="contacts-person">

  <h3>Lorem ipsum</h3>

  <img src="images/prof.png">

  <p>Lorem ipsum dolor sit amet</p>

  <ul id="contacts-person-details">


      <li><img src="images/fb.png">
        <img src="images/li.png"></li>

      <li><a href="#">+353 85 855 8555</a></li>

      <li><a href="#">Skype:</a> loremIpsum</li>

  </ul>

</section>

<section id="contacts-person">

  <h3>Lorem ipsum</h3>

  <img src="images/prof.png">

  <p>Lorem ipsum dolor sit amet</p>

  <ul id="contacts-person-details">

      <li><img src="images/fb.png">
        <img src="images/li.png"></li>

        <li><a href="#">+353 85 855 8555</a></li>

      <li><a href="#">Skype:</a> loremIpsum</li>

  </ul>

</section>


</div>

{{outlet}}
