
<h2>Thank you for submitting your code</h2>
<h3 style="text-align: center">Please review it below</h3>

<div class="submitted-code-review">

<textarea placeholder="{{code.myTextarea}}">
{{code.myTextarea}}


</textarea>



</div>

{{outlet}}
